<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    
    <form method="POST"  class="container" >
        <h2>Login</h2>
         {% if session.get('user_id') %}
            <p>Você já está logado como {{ session.get('user_nome') }}.</p> <!-- Display the username if logged in -->
            <a href="{{ url_for('logout') }}">Logout</a>
         {% else %}
            <label>Usuário:</label><br>
            <input type="text" name="usuario"><br>
            <label>Senha:</label><br>
            <input type="password" name="senha"><br><br>
            <button type="submit">Entrar</button>
        {% endif %}
    </form>
</body>
</html>
