body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
}

h1 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    margin: 5px 0;
    background-color: #e0e0e0;
    border-radius: 5px;
}

.promocao {
    background-color: #ffdf80;
    color: #b30000;
    font-weight: bold;
}
