<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 
        Este trecho de código define o título da página HTML utilizando o mecanismo de templates do Jinja2, 
        que é integrado ao Flask. O bloco `{% block title %}` permite que o título seja sobrescrito 
        em templates que herdam este arquivo base. Caso nenhum título seja definido no template filho, 
        o valor padrão "Sistema de Gestão" será exibido. Isso é útil para criar uma estrutura de layout 
        reutilizável e consistente em aplicações web.
    -->
    <title>{% block title %}Sistema de Gestão{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/caixa.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cozinhakds.css') }}">
</head>
<body>
    <div class="container">
        <!-- This line defines a block named 'content' in the base template. 
            It acts as a placeholder that child templates can override to insert their own content. 
            The {% block %} and {% endblock %} tags are part of Jinja2 templating syntax, 
            commonly used in Flask applications for creating reusable and modular HTML templates. -->
        {% block content %}{% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    <script src="{{ url_for('static', filename='js/caixa.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cozinhakds.js') }}"></script>
</body>
</html>