<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Flash Example</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Página Inicial - index.html</h1>
        <p>Bem-vindo à página inicial do seu aplicativo Flask!</p>
        <!--A função get_flashed_messages() é usada para recuperar essas mensagens e exibi-las no template.-->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <a href="{{ url_for('login') }}" class="btn btn-primary">Login</a>
    </div>
</body>
</html>